body {
  background-color: rgba(213, 217, 218, 0.1);
}

.cards img {
  padding: 5px;
}
.container__cards {
  margin: 1em;
  width: 380px;
}
.col {
  width: 400px;
}
.titel {
  text-align: center;
  font-size: 4em;
}
.card__body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}
.bu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 20px;
}
.bu button {
  width: 83.91px;
}
.Botonera {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;

  height: 60px;
}
.conteiner__pro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start;
}
.filter {
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 100px;
  width: 10%;
  text-align: center;
}

.butt {
  margin: 0 0 1em 0;
  text-align: center;
}
.Products {
  width: 100%;
  padding: 30px;
}
@media (max-width: 500px) {
  * {
    box-sizing: border-box;
    max-width: 490px;
  }
  .Botonera {
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em 0;
    height: 90px;
    width: 100%;
  }
  .btn {
    margin: 1em 0.2em 0;
  }
  .filter {
    width: 100%;
    height: 350px;

    margin: 0 1em;
    padding: 0;
  }
  .filter label {
    margin-top: 1em;
  }
  .container__cards {
    width: 90%;
    padding: 0;
  }
  .butt {
    width: 95%;
    margin: 0;
    text-align: center;
  }
  .conteiner__pro {
    display: inline-block;
    width: 100%;
  }
  .jFltKx {
    width: 90%;
  }
  .Products {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .row {
    max-width: 399px;
  }
}
